<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Just give me the damn weather</title>
    <script type = "application/javascript" src = "{{ url_for('static', filename='js/main.js') }}">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
</head>
<body>
    <h1>Weather App</h1>
    <h3>Please enter your zip code!</h3>
    <p>Zip Code:
        <input type = "text" name = "username" size = "15" maxlength = "5"/>
        <button id="submitButton">Submit</button>
    </p>
</body>
</html>